.empty-cart {

    position: relative;
    top: 0vh;
    animation: card-show 0.3s ease-in-out;
}

.empty-cart__content {
    color: #013237;
    margin: 4rem auto 11rem;
    width: 20rem;
    max-width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.empty-cart__content img {

    width: 5rem;
    height: 5rem;

}

.empty-cart__action_close {
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #4CA771;
    background-color: #EAF9E7;
    color: #013237;
}

.empty-cart__action_close:hover {
    background-color: #09717c;
    cursor: pointer;
}

.empty-cart__action {
    position: absolute;
    right: 2rem;
    bottom: -16rem;
}

@keyframes card-show {
    from {
        top: 70vh;
        opacity: 0;
    }

    to {
        top: 0vh;
        opacity: 1;
    }

}
