.cart-icon {
    color: #EAF9E7;
    /* margin-top: 10px;
    margin-left: 30px; */
    z-index: 1;
    font-size: 1px;
    width: 3.5rem;
    height: 3.5rem;
    right: 0px;
}

.badge {
    position: relative;
}

.lbl {
    box-shadow: 0 0 10px rgba(233, 227, 227, 0.692);
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    font-size: 15px;
    font-weight: 700;
    top: 18px;
    left: 46px;
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 50%;
    padding: 0.2rem;

}

.cart-icon:hover {
    cursor: pointer;
    color: #4CA771;
}

.bump {
    animation: badge-bumper 100ms;
}

@keyframes badge-bumper {
    from {
        font-size: 15px;
        padding: 0.2rem;
        left: 46px;
        top: 18px;
    }

    to {
        font-size: 30px;
        padding: 0.5rem;
        left: 33px;
        top: 5px;
    }
}
